* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #6640EE;
    filter: drop-shadow(0px 15px 12px rgba(0, 0, 0, 0.25));
}

header img {
    width: 75px;
}

header ul {
    display: flex;
    margin-left: 195px;

    list-style: none;
}

header ul a {
    background-image: linear-gradient(90deg, white, white);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: white;
    text-decoration: none;

    transition: background-size 300ms ease;

}

header ul a:hover {
    background-size: 100% 2px;
}

main {
    width: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

main p {
    font-family: "Montserrat", sans-serif;
    color: #6640EE;
}

main #title {
    display: flex;
    align-items: baseline;
    justify-content: center;

    gap: 12px;
}

main h1 {
    font-family: "Montserrat", sans-serif;
    color: #6640EE;
    font-size: 64px;
    font-weight: 400;
}

main #thanks {
    font-size: 50px;
    font-weight: 300;
}

main #respond {
    margin-top: 20px;
    font-size: 44px;
    font-weight: 300;
}

main img {
    width: 74px;
    margin-top: 65px;

    transition: all 300ms ease;
}

main img:hover {
    transform: scale(1.08);
}



/* FOOTER */
footer {
    background: #6640EE;
    height: 145px;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}

footer #insta {
    margin-left: 20px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 32px;
    transition: all 300ms ease;
}

footer img:hover {
    transform: scale(1.08);
}

footer p {
    margin-top: 10px;

    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}


@media (max-width: 768px) {
    main #title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    main h1 {
        font-size: 54px;
    }

    main #thanks {
        font-size: 40px;
    }

    main #respond {
        margin-top: 20px;
        font-size: 34px;
        text-align: center;
    }

    footer p {
        margin-top: 12px;
        font-size: 18px;
    }
}